img{
    transform:rotate(180deg);
    width:90%;
    height:15rem;
}
div h3{
    margin-left: 30%;
}

.hats-div{
    border: 2px solid white;
    border-radius: 5px;
    width: 20%;
    height: 10rem;
    background-color:transparent;
    opacity: 0.8;
    margin-left: 1%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    box-shadow: 0 0 5px 5px #48abe0;
}

.hat-value{
    margin-left: 20%;
    border-radius: 5px;
    width: 50%;
    height:4rem;
    box-shadow: 0 0 5px 5px #da2a0e;
}

#val-text{
    font-family: 'Harry Potter', sans-serif;
    font-weight: 1000;
    font-size: 2rem;
    color: aliceblue;
    margin-left: 10%;
    margin-top: 10%;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}